<body>

    <br><br><br>
  
    <div class="row">
  
      <div class="col-lg-4"></div>
  
      <div class="container">
  
   <br><br><br><br>
  
        <button type="button" class="btn btn-primary btn-lg btn-block"> <a routerLink="/#">
  
          <h4 style="color: white;">Import Data</h4>
  
        </a></button><br>
  
        <button type="button" class="btn btn-info btn-lg btn-block"> <a routerLink="/CompanyList">
  
         <h4 style="color: white;">Manage Company</h4>
  
        </a></button> <br>
  
        <button type="button" class="btn btn-info btn-lg btn-block"> <a routerLink="/StockExchangeList">
  
         <h4 style="color: white;">Manage Exchange</h4>
  
        </a></button><br>
  
        <button type="button" class="btn btn-info btn-lg btn-block"> <a routerLink="/IpoList">
  
         <h4 style="color: white;">Update IPO Details</h4>
  
        </a></button>
  
       </div>
  
      <div class="col-lg-4"></div>
  
    </div>
  
  </body>
